#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: white;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

body {
  background-color: black;
  color: rgba(255, 255, 255, 0.562);
}
.content {
  margin-bottom: 6em;
  height: 40em;
  padding-bottom: 2em;
}
.error404 {
  font-family: "Roboto", sans-serif;
  padding: 1em;
  background-color: #d56868df;
  color: black;
}
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.6em;
  background-color: lightgrey;
  color: black;
}
.navigation ul {
  display: flex;
  flex-direction: row;
  padding: 1em;
  margin: 0px;
  list-style-type: none;
}
.navigation a {
  display: inline-block;
  padding: 0.5em;
  color: black;
}
.navigation a:hover {
  background-color: lightblue;
  border: solid 1px black;
  border-radius: 7px;
}
.category-buttons button {
  background-color: rgb(66, 66, 66);
  color: white;
  margin: 10px;
  font-size: 1.5em;
  font-weight: bold;
}
.category-buttons button:hover {
  filter: drop-shadow(0 0 1em #00FF00);
}
.click-button {
  background-color: rgb(66, 66, 66);
  color: white;
  width: 7em;
  height: 3em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  font-size: 1.5em;
  font-weight: bold;
}
.click-button:hover {
  filter: drop-shadow(0 0 1em #00FF00);
}
.click-button:active {
  margin-top: 0.275em;
  margin-bottom: 0.275em;
  width: 7.07em;
  height: 3.05em;
}
.answer-buttons button {
  background-color: rgb(66, 66, 66);
  color: white;
  margin: 10px;
  font-size: 2em;
  font-weight: bold;
}
.answer-buttons button:hover {
  filter: drop-shadow(0 0 1em #00FF00);
}
#img {
  height: 15em;
}
#result {
  background-color: #00cc0050;
  border-radius: 5px;
  color: #00cc00df;
  font-size: 1.5em;
  font-weight: bold;
}
#result-correct {
  background-color: #00cc0050;
  border-radius: 5px;
  color: #00cc00df;
  font-size: 1.5em;
  font-weight: bold;
}
#result-false {
  background-color: #dc707050;
  border-radius: 5px;
  color: #e61b1be7;
  font-size: 1.5em;
  font-weight: bold;
}
.next-button button {
  background-color: rgb(66, 66, 66);
  color: white;
  margin: auto;
  font-size: 2em;
  font-weight: bold;
}
.next-button button:hover {
  filter: drop-shadow(0 0 1em #00FF00);
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
